

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Merriweather;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#root {
  height: 100%;
}


#communities {
  width: 80px;
  padding-top: 20px;
  justify-content: center;
  
}

#main-content {
	border-right: 1px solid lightgray;
}

#tab-nav {
	grid-column: 3;
	grid-row: 1;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 20px;
	border-radius: 10px 10px 0px 0px;
}

#communities {
  width: 80px;
  padding-top: 20px;
  justify-content: center;
  
}

#main-nav {
padding-left: 16px; 
padding-right: 16px

}

#sidebar {
  padding: 30px;
}
